<?xml version='1.0' encoding='utf-8'?>
<widget id="com.carrentals.webapp" version="0.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Carrentals</name>
    <description>
        Carrentals.com wrapped webapp
    </description>
    <author email="dev.artem.kuznetsov@gmail.com" href="">
        Artem Kuznetsov
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access launch-external="yes" origin="mailto:*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#ffffff" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/img/app-icon.png" />
        <splash density="port-ldpi" src="www/img/splash-bg.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="www/img/app-icon.png" width="120" height="120" />
        <splash src="www/img/splash-bg.png" />
    </platform>
    <engine name="android" spec="^4.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.1.1" />
    <plugin name="cordova-plugin-network-information" spec="^1.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="^2.0.0" />
    <plugin name="cordova-plugin-device" spec="https://git-wip-us.apache.org/repos/asf/cordova-plugin-device.git" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.0.0" />
</widget>
