<header>
    <nav class="navbar navbar-default cr-navbar cr-navbar-home">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="cr-back-btn" id="cr-back-btn"><span class="glyphicon glyphicon-menu-left"></span></button>
                <button type="button" class="navbar-toggle collapsed cr-menu-btn" aria-expanded="false" id="app-links-btn">
                    <a href="#partials/more">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                    <a href="#">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </button>
                <img src="img/cr-logo-white.png" class="navbar-brand cr-logo-primary"/>
                <span class="navbar-brand cr-logo-secondary">More</span>
            </div>
        </div>
    </nav>
</header>

