<header>
    <nav class="navbar navbar-default cr-navbar cr-navbar-home">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="cr-back-btn" id="cr-back-btn"><span class="glyphicon glyphicon-menu-left"></span></button>
                <button type="button" class="navbar-toggle collapsed cr-menu-btn" aria-expanded="false" id="app-links-btn">
                    <a href="#partials/more">
                        <div class="hamburger-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                </button>
                <img src="img/cr-logo-white3.png" class="navbar-brand cr-logo-primary new-design"/>
                <span class="navbar-brand cr-logo-secondary">Options</span>
            </div>
        </div>
    </nav>
</header>

