<div class="hamburger-icon"></div>

<div class="row">
    <div class="col-xs-12 col-sm-6 columns">
        <nav role="navigation" class="">
            <ul>
                <li class="dropdown"><a href="faq.html">FAQ</a></li>
                <li class="dropdown"><a href="policy.html">Privacy Policy</a></li>
                <li class="dropdown"><a href="terms.html">Terms of Use</a></li>
                <li class="dropdown"><a href="#" onclick="alert('open phone email client')">Contact Us</a></li>
                <li class="dropdown"><a href="#" onclick="alert('go to booking page')">My Bookings</a></li>
            </ul>
        </nav>
    </div>
</div>