<div id="cr-cover">
    <ul class="nav navbar-nav">
        <li class="dropdown" id="myBookingsMenu"><a href="#">My Reservations</a></li>
        <li class="dropdown" cr-html="partials/policy"><a href="#partials/policy">Privacy Policy</a></li>
        <li class="dropdown" cr-html="partials/terms"><a href="#partials/terms">Terms of Use</a></li>
        <li class="dropdown" cr-html="partials/faq"><a href="#partials/faq">FAQ</a></li>
        <li class="dropdown" id="contactUsMenu"><a href="mailto:support@carRentals.com">Contact Us</a></li>
    </ul>
</div>