.logo {
    background: url('../img/cr-logo-white.png') 0 0 no-repeat;
}
.cr-navbar {
    background: transparent;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}
.cr-navbar .navbar-toggle,
.cr-navbar .navbar-toggle:hover,
.cr-navbar .navbar-toggle:focus {
    background-color: transparent;
    border: none;
}
.cr-navbar .cr-menu-btn.expanded a:first-child {
    display: none;
}
.cr-navbar .cr-menu-btn {
    margin: 0 10px 0 0;
    padding: 0;
}
.cr-navbar .cr-menu-btn a {
    color: #ffffff;
}
.cr-navbar .cr-menu-btn.expanded {
    margin-top: 2px;
}
.cr-navbar .cr-menu-btn.expanded a {
    color: #777;
}
.cr-navbar button:focus {
    outline: 0;
    border: none;
}
.cr-navbar .cr-menu-btn {
    display: inline-block;
}
.cr-navbar .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.cr-navbar .navbar-collapse {
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1;
}
#cr-cover .navbar-nav {
    margin: 0;
}
#cr-cover .navbar-nav li {
    border-top: 1px solid #888888;
}
#cr-cover .navbar-nav li:first-child {
    border: none;
    font-weight: bold;
}
.cr-navbar .navbar-brand {
    float: none;
}
.cr-navbar {
    text-align: center;
}
.cr-navbar .navbar-header {
    border-bottom: 1px solid #777;
    color: #777777;
    font-size: 18px;
}
.cr-navbar.cr-navbar-home .navbar-header {
    border: none;
    color: #ffffff;
}
.cr-navbar.cr-navbar-home .cr-logo-primary,
.cr-navbar .cr-logo-secondary,
.cr-navbar .cr-back-btn {
    display: inline;
}
.cr-navbar .cr-logo-primary,
.cr-navbar.cr-navbar-home .cr-logo-secondary,
.cr-navbar.cr-navbar-home .cr-back-btn {
    display: none;
}
.cr-navbar.cr-navbar-home .navbar-header {
    background-color: transparent;
    line-height: 50px;
}
.cr-navbar .navbar-header {
    /*background-color: #ffffff;*/
    line-height: 50px;
}
.cr-navbar .cr-back-btn {
    background: none;
    border: none;
    float: left;
}
.cr-navbar .cr-back-btn,
.cr-navbar .cr-back-btn:active {
    border: none;
}
.cr-navbar .cr-logo-secondary {
    font-size: 18px;
}
body.cr-content-home {
    background: url('../img/home-bg.png') 0 0 no-repeat;
    background-size: cover;
}
body {
    background-color: #fff;
    background-image: none;
}
body.cr-content-home {
    background-color: transparent;
}
body.cr-content-home #cr-content {
    position: absolute;
    top: 38%;
    width: 100%;
    display: table;
}
#cr-content .cr-btn-area {
    display: table-row;
    text-align: center;
}
#cr-content .cr-btn-area button {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    width: 75%;
}
#cr-content .cr-btn-area button .glyphicon {
    float: right;
    margin-top: 2px;
}

#cr-cover .navbar-nav li a {
    padding: 15px;
}

.cr-content {
    padding: 15px;
}
.accordion {
    padding: 15px;
    margin: 0;
}
.accordion .accordion-heading a,
.accordion .panel-title a {
    color: #f37121;
}

.accordion .accordion-group {
    margin-bottom: 10px;
}

.cr-navbar .hamburger-icon {
    width: 30px;
    float: right;
    height: 20px;
    position: relative;
    margin: 14px 0 -6px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.cr-navbar .hamburger-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 70%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.cr-navbar .hamburger-icon span:nth-child(1) {
    top: 0;
}
.cr-navbar .hamburger-icon span:nth-child(2) {
    top: 7px;
}
.cr-navbar .hamburger-icon.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.cr-navbar .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
.cr-navbar .hamburger-icon span:nth-child(3) {
    top: 14px;
}
.cr-navbar .hamburger-icon.open span {
    background-color: #5e5e5e;
}
.cr-navbar .hamburger-icon.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

button .spin-progress {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    margin: 0 0 0 10px;
    border-top: 6px solid rgba(255,255,255,0.4);
    float: right;
}
.spin-progress {
    border-bottom: 6px solid rgba(0,0,0,0.1);
    border-left: 6px solid rgba(0,0,0,0.1);
    border-right: 6px solid rgba(0,0,0,0.1);
    border-top: 6px solid rgba(0,0,0,0.4);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    animation: rot .6s infinite linear;
    -webkit-animation: rot .6s infinite linear;
    display: inline-block;
    margin: 20px 0;
}
@keyframes rot{from{transform:rotate(0deg)}to{transform:rotate(359deg)}}
@-webkit-keyframes rot{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(359deg)}}